body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mt {
  margin-top: 30px;
}

.mb {
  margin-bottom: 10px;
}

.mt-sm {
  margin-top: 5px;
}

.center {
  text-align: center;
  align-content: center;
}

.user-image {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.opaque {
  opacity: 0.4;
}

.mr {
  margin-right: 5px;
}

.ml {
  margin-left:5px;
}

.card-body > label {
  font-weight: bold;
}
.teamA-form-lbl {
  font-size: 1rem !important;
}

.teamA-btn {
  color: white !important;
}

.edit-lbl {
  font-size: 1.25rem !important;
}

.space-fix {
  padding-left: 50px !important;
}